/** Add some styles */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gameboard {
    text-align: center;
}

.title {
    font-size:x-large;
    font-weight: 500;
}

.bowls {
    margin-left: 30px;
    margin-right: 30px;
    
}

.bowlP1, .bowlP2, .kalahaP1, .kalahaP2 {
    border-radius: 50%;
    border-style: solid;
    width: 40px;
    vertical-align: middle;
}

.bowlP1, .bowlP2 {
    border-color: rgb(83, 83, 83);
    height: 40px;
    margin: 5px;
}

.bowlP1:active, .bowlP2:active {
    border-color: black;
    box-shadow: 2px 4px #999;
}

.kalahaP1, .kalahaP2{
    border-color: rgb(83, 83, 83);
    height: 90px;
    font-size: larger;
    font-weight: bold;
}

.bowlP1 {
    background-color:indianred;
}

.bowlP1:hover {
    background-color:brown;
}

.bowlP2 {
    background-color: cornflowerblue;
}

.bowlP2:hover {
    background-color:rgb(31, 75, 156);
}

.kalahaP1 {
    background-color:rgb(240, 140, 140);
    margin-left: 140px;
}

.kalahaP2 {
    background-color: rgb(152, 188, 255);
    margin-right: 140px;
}

.revenge {
    font-size: large;
    font-weight: bold;
    padding: 7px;
    box-shadow: 2px 4px rgb(201, 201, 201);
    border-style: solid;
}

.revenge:hover {
    background-color: rgb(199, 199, 199);   
}

.revenge:active {
    transform: translateY(1px);
    box-shadow: 1px 3px #666;
    border-color: black;
}