form {
    margin: 20px;
}

input {
    margin-right: 10px;
}

.startGameButton {
    font-size: x-large;
    color: white;
    background-color: green;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 2px 4px rgb(201, 201, 201);
}

.startGameButton:hover {
    background-color: darkgreen;
}

.startGameButton:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 1px 2px #666;
}

.errorMessage {
    height: 1em;
    color: red;
}