header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header {
    color: rgb(224,0,24);
    font-size: 2rem;
    margin-bottom: 8px;
    position: sticky;
}

.main-title{ 
    margin-left: 20px;
}
.main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(224,0,24);
    font-size: 1.3rem;
    height: 45px;
}

.main-navigation a {
    color: white;
    text-decoration: none;
}

.main-header div {
    display: flex;
    align-items: center;
}

.main-header img {
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}