* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("QwirkleAchtergrond.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

h1 {
    text-align: center;
}

.QwirkleBoard {
    text-align: center;
}

.gameBoard {
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.boardRow {
    align-items: center;
    justify-content: center;
}

.hand-player {
    align-items: center;
    justify-content: center;
    display: flex;
}

#emptyGridTile {
    background-color: rgb(0, 170, 255);
    opacity: 30%;
    border: 0px;
}

#emptyHandTile {
    background-color: black;
    opacity: 50%;
    border: 0px;
}

.tile {
    height: 50px;
    width: 50px;
    margin: 2px; 
    border-radius: 5px;
}

#handTile:focus {
    opacity: 40%;
}

.button img {
    height: 50px;
    width: 50px;
    margin: 4px;
    box-shadow: 2px 4px rgb(170, 170, 170);
    border-radius: 50px;
    border: 2px outset white;
}

.button img:hover {
    box-shadow: 2px 4px rgb(143, 143, 143);
}

.button img:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 1px 2px rgb(53, 53, 53);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bagContainer {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.tileBag {
    width: 100px;
}

.tilesLeft {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25pt;
    font-weight: bold;
    text-shadow: 3px 3px rgb(197, 173, 168);
}

