* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url("QwirkleAchtergrond.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

h1 {
    text-align: center;
}

.QwirkleBoard {
    text-align: center;
}

.gameBoard {
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.boardRow {
    align-items: center;
    justify-content: center;
}

.hand-player {
    align-items: center;
    justify-content: center;
    display: flex;
}

#emptyGridTile {
    background-color: rgb(0, 170, 255);
    opacity: 30%;
    border: 0px;
}

#emptyHandTile {
    background-color: black;
    opacity: 50%;
    border: 0px;
}

.tile {
    height: 50px;
    width: 50px;
    margin: 2px; 
    border-radius: 5px;
}

#handTile:focus {
    opacity: 40%;
}

.button img {
    height: 50px;
    width: 50px;
    margin: 4px; 
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

